# University City Vehicle Stops, from 2018

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [14]:
data = pd.read_csv('u_city_2018_vehicle_stops.csv')

data.dropna(axis=1, inplace=True)                      #Droping NaN columns from the raw data
display(data.head())                                   #Inspecting to ensure the columns were dropped

data['ORI'].nunique()                                  #Verifying column has the same values for every row
data.drop(columns=['ORI'], inplace=True)
data.head()

,ORI,DSN,STOP_DATE,TIME_OF_STOP,SEQ_NO,REF_NO,RACE_BEFORE_STOP,RES_JURISDICTION,SEX,RACE,AGE_CODE,STOP_LOCATION,WARN_CITA_ISSUED,SEARCH_CONDUCT,SEARCH_ARREST,ENTER_DATE,ENTER_TIME,ENTER_ACID,STATUS_CODE
0,MO0957300,503,1/1/2018,1100,0,TA00802186,N,Y,M,B,D,S,N,N,N,1/9/2018,10.46.57,#HAMJH2,FIN
1,MO0957300,434,1/1/2018,1819,0,TA00802235,N,N,M,W,B,C,Y,N,N,1/9/2018,10.46.03,#HAMJH2,FIN
2,MO0957300,453,1/1/2018,1756,0,TA00802261,N,Y,F,H,B,C,Y,N,N,1/9/2018,10.49.10,#HAMJH2,FIN
3,MO0957300,518,1/1/2018,1820,0,TA00802444,N,N,F,A,D,S,Y,N,N,1/9/2018,10.47.38,#HAMJH2,FIN
4,MO0957300,518,1/1/2018,1347,1,TA00802445,N,N,F,B,D,C,N,N,N,1/9/2018,10.48.23,#HAMJH2,FIN

,DSN,STOP_DATE,TIME_OF_STOP,SEQ_NO,REF_NO,RACE_BEFORE_STOP,RES_JURISDICTION,SEX,RACE,AGE_CODE,STOP_LOCATION,WARN_CITA_ISSUED,SEARCH_CONDUCT,SEARCH_ARREST,ENTER_DATE,ENTER_TIME,ENTER_ACID,STATUS_CODE
0,503,1/1/2018,1100,0,TA00802186,N,Y,M,B,D,S,N,N,N,1/9/2018,10.46.57,#HAMJH2,FIN
1,434,1/1/2018,1819,0,TA00802235,N,N,M,W,B,C,Y,N,N,1/9/2018,10.46.03,#HAMJH2,FIN
2,453,1/1/2018,1756,0,TA00802261,N,Y,F,H,B,C,Y,N,N,1/9/2018,10.49.10,#HAMJH2,FIN
3,518,1/1/2018,1820,0,TA00802444,N,N,F,A,D,S,Y,N,N,1/9/2018,10.47.38,#HAMJH2,FIN
4,518,1/1/2018,1347,1,TA00802445,N,N,F,B,D,C,N,N,N,1/9/2018,10.48.23,#HAMJH2,FIN